.employee-lists {
    margin-top: 30px;
    min-height: 100%
}


.employee-lists table {
    margin-top: 12px;
    color: #000;
    height: 100%;
    
}
table tbody .img-employee {
    text-align: center
}

.table-bordered  thead th{
    position: relative;
    height: 80px;
    text-align: center;
    
}
.table-bordered td{
 vertical-align: middle;
}
.employee-lists .next {
    background: #0394c9;
    width: 20%;
    margin: 0 auto;
    color: #fff;
}

.help-buttons {
    background: #ececec;  
   
    
    color: #000;
    border-radius: 20px;
    width: 45%;
    margin: 0 auto;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 7px;
    line-height: 10px;
    height: 29px;
    position: absolute;
 
    cursor: pointer;
}
